body {
  font-family: "Comic Sans MS", cursive;
  color: #ff0000;
  background-color: #00ffff !important;
}

a {
  color: #00ff00;
  text-decoration: underline;
}

a:hover {
  color: #0000ff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Papyrus", fantasy;
}

.back-to-top {
  position: fixed;
  visibility: visible;
  opacity: 1;
  right: 150px;
  bottom: 150px;
  z-index: -1;
  background: #ff00ff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 5s;
}

.back-to-top i {
  font-size: 48px;
  color: #00ffff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ffff00;
  color: #000000;
}

.back-to-top.active {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 1s !important;
  }
}

#header {
  height: 100px;
  transition: all 2s;
  z-index: 9999;
  background: #000000;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 60px;
  margin: 20px;
  line-height: 2;
  font-weight: 800;
  letter-spacing: 10px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

#header .logo img {
  padding: 10px;
  margin: 10px;
  max-height: 80px;
}

